<!--<hgroup>
<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
{% if site.subtitle %}
<h2>{{ site.subtitle }}</h2>
{% endif %}
</hgroup>-->

<figure id="user_logo">
<a href="/">
    <div class="logo">&nbsp;</div>
</a>
</figure>

<div class="header-logo">
    <h1><a href="/" title="{{ site.title }}" rel="home">{{ site.title }}</a></h1>
    <p>{{ site.subtitle }}</p>
    <div class="social right">
        <a class="twitter" href="http://twitter.com/HackerLabs" title="Twitter : HackerLabs">Twitter</a>
        <a class="github" href="https://github.com/HackerLabs" title="GitHub : HackerLabs">GitHub</a>
        <a class="moreinfo" href="/about/" title="More Info">More Info</a>
        <a class="contact" href="/contact" title="Contact HackerLabs">@</a>
        <a class="rss" href="http://feeds.feedburner.com/HackerLabs" title="RSS">RSS</a>
    </div>

</div>
