<div class="entry-meta" >
    <!--<span class="entry-date">August 4 2011</span>-->
    {% include post/date.html %}{{ time }}
    {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
    | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
    {% endif %}
</div>

<h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>

<div class="entry-content">{{ content }}</div>
