<!--<div class="entry-meta" >
    <div class="search alignright">
        <a class="search" href="/search/" title="search">Search</a>
    </div>
    {% include post/date.html %}{{ time }}
    {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
    | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
    {% endif %}
</div>
 -->

{% if site.pagetitle %}
<h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
{% endif %}

<div class="entry-content">
    <div class="search alignright">
        <a class="search" href="/search/" title="search">Search</a>
    </div>
   {{ content }}
</div>
