---
layout: default
---


{% assign index = true %}

{% comment %}
<script type="text/javascript">
var a;
jQuery("#service_hook").mouseenter(function(){clearTimeout(a),jQuery("#st-search-input").val("search"),jQuery("#magic_bar").show()}).mouseleave(function(){a=setTimeout("jQuery('#magic_bar').hide();",300)});
jQuery("#magic_bar").mouseenter(function(){clearTimeout(a),jQuery("#magic_bar").show()}).mouseleave(function(){a=setTimeout("jQuery('#magic_bar').hide();",300)});
var customRenderFunction = function (document_type, item) {
  //alert(document_type);
  //alert(item.toSource());
  return '<div class="st-result"><h3 class="title"><a href="' + item['url'] + '" class="st-search-result-link">' + item['title'] + '</a></h3><p>' + item['highlight'].body + '</p><a href="' + item['url'] + '">' + item['url'] + '</a></div>';
};

jQuery('#st-search-input').swiftypeSearch({
  renderFunction: customRenderFunction,
  fetchFields: {'posts' : ['title','link','body', 'published_on']},
  resultContainingElement: '#st-results-container',
  engineKey: 'yp4imGCcpVF6mqypDhYH',
});
</script>

{% endcomment %}

<article style="border-left: 0px solid #C0143C; padding: 3em 50px">
    <div class="search alignright">
        <a class="search" href="/search/" title="search">Search</a>
    </div>
<h3> Welcome to {{site.title}}.  </h3>
<p>{{site.description}} <p>

<a class="continue" href="/about/">More →</a>
<a class="continue" href="/labs/">Labs </a>
<a class="continue" href="/news/">Links </a>
</article>

{% comment %}
<article id="post-0" style="padding: 0px 50px">
{% include projects.html %}
</article>
{% endcomment %}

<article id="post-0" style="padding: 0px 50px">
{% include github.html %}
</article>

<article id="post-list" style="padding: 0px 0px 0px 0px">
<h3 style="padding: 0px 50px">ARTICLES</h3>

<frontpage-list id="post-0" style="padding: 0px 50px">
<ul class="frontpage-blog-list">
   {% for post in site.posts %}
      {% if post.type == 'blog' %}
      <a href="{{post.url}}" rel="post" title="Tags: {% for cat in post.categories %} {{cat}}, {% endfor %}" class="frontpage-blog-link" ><li class="Default-category {% for cat in post.categories %} {{cat}}-category {% endfor %}"><span class="frontpage-date">{{post.date | date: "%d/%b/%Y"}}</span>{{post.title}}</li> </a>
      {% endif %}
   {% endfor %}
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</frontpage-list><!-- #post-0 -->

</article>


